form, .array, app-list-item-modal-container {
    width: 100%;
    height: 100px;
}

.list-item {
    padding: 5px;
}


.key-display {
    font-weight: bold;
    font-size: larger;
}

.type-display {
    // font-weight: bold;
    font-size: larger;
}
