<div>
    <div style="height:200px; width:300px;overflow-y: scroll;">
        <form [formGroup]="form">
            <div class="array" *ngFor="let item of itemControls; let i = index;">
                <app-list-item-modal-container>
                    <div class="list-item" list-item  fxLayout="row" fxLayoutAlign="space-between center">
                        <div  fxLayout="column" fxLayoutAlign="space-between start">
                            <div class="key-display">{{ item.controls['key'].value }}{{ item.controls['required'].value ? '*' : '' }}</div>
                            <div class="type-display">{{ item.controls['type'].value }}</div>
                        </div>
                        <div class="icon">
                    </div>
                        <clr-icon *ngIf="item.invalid" status="danger" size="lg" solid shape="error-standard"></clr-icon>
                    </div>
                    <div modal-body [formGroup]="item">
                        <clr-select-container>
                            <label>Field Type</label>
                            <select clrSelect formGroupName="type">
                              <option [value]="'TEXT'">TEXT</option>
                              <option [value]="'NUMBER'">NUMBER</option>
                              <option [value]="'CHECK'">CHECK</option>
                              <!-- <option value="RADIO">RADIO</option> -->
                              <!-- <option value="TOGGLE">TOGGLE</option> -->
                              <option [value]="'DATE'">DATE</option>
                              <option [value]="'SELECT'">SELECT</option>
                            </select>
                            <clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>
                            <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
                        </clr-select-container>

                        <clr-input-container>
                            <label>Field Key*</label>
                            <input clrInput type="text" formControlName="key" />
                            <clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>
                            <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
                        </clr-input-container>

                        <clr-input-container>
                            <label>Field Label*</label>
                            <input clrInput type="text" formControlName="label" />
                            <clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>
                            <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
                        </clr-input-container>

                        <clr-input-container>
                            <label>Field Placeholder</label>
                            <input clrInput type="text" formControlName="placeholder" />
                            <clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>
                            <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
                        </clr-input-container>

                        <clr-checkbox-container>
                            <clr-checkbox-wrapper>
                                <label>Field Required?</label>
                                <input clrCheckbox type="checkbox" formControlName="required"/>
                                <clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>
                                <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
                            </clr-checkbox-wrapper>
                        </clr-checkbox-container>
                    </div>
                </app-list-item-modal-container>
            </div>
        </form>
    </div>
    <button (click)="print()">Print</button>
    <button (click)="add()">Add</button>
</div>
